objectstore/src/main/mule/objectstore.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="379b6a95-92fd-477a-bcb2-f084abe5811f" >
		<http:listener-connection host="localhost" port="8066" />
	</http:listener-config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="def25101-8a41-4643-9d1a-4bed0d63d3c7" />
	<flow name="objectstore" doc:id="d3305075-741d-4ffd-a383-6ea220bd4f1f" >
		<http:listener doc:name="Listener" doc:id="70cad0d9-3c66-45d7-8f02-6279571a4df3" config-ref="HTTP_Listener_config" path="os"/>
		<set-variable value="#[attributes.queryParams.name]" doc:name="Set Variable" doc:id="81f8dc8a-58e6-40dc-bb39-e397c83a7e0f" variableName="name"/>
		<set-variable value="#[attributes.queryParams.id]" doc:name="Set Variable" doc:id="47cd647c-b755-4184-864a-955a4a1749b9" variableName="id"/>
		<os:store doc:name="Store" doc:id="ddf4a8f6-cf52-4ee2-b500-2dbd4643bcb8" key="#[vars.name]" objectStore="Object_store">
			<os:value ><![CDATA[#[vars.id]]]></os:value>
		</os:store>
	</flow>
	<flow name="Retreiveallkeys" doc:id="ae807166-93c0-4fec-9066-4d50d7953afe" >
		<http:listener doc:name="Listener" doc:id="0e65f591-741f-4e6f-9e0c-f83bc7946340" config-ref="HTTP_Listener_config" path="rall"/>
		<os:retrieve-all-keys doc:name="Retrieve all keys" doc:id="275ebe6c-4cd2-4e7f-a25b-40333382ac61" objectStore="Object_store"/>
		<logger level="INFO" doc:name="Logger" doc:id="f19bf957-7097-4f43-89a8-f17406b3dc99" message="#[payload]"/>
	</flow>
	<flow name="retrieveall" doc:id="fa6a873a-88a4-4784-b488-1e3e003840c7" >
		<http:listener doc:name="Listener" doc:id="654f3d57-b3e0-40ee-a64b-24936c218a80" config-ref="HTTP_Listener_config" path="ra"/>
		<os:retrieve-all doc:name="Retrieve all" doc:id="d5dd5682-c46d-4ebd-ac96-00fa5af33bb3" objectStore="Object_store"/>
	</flow>
	<flow name="Retrieve" doc:id="50d54a25-9c83-4e94-aeac-46df9889c3b5" >
		<http:listener doc:name="Listener" doc:id="b89302d4-f36c-47d1-b9cd-6442c3d796f6" config-ref="HTTP_Listener_config" path="re"/>
		<os:retrieve doc:name="Retrieve" doc:id="0b3498ab-b2c1-4095-a9e8-5619e42ee0ca" key="name" objectStore="Object_store">
			<os:default-value ><![CDATA[#[payload]]]></os:default-value>
		</os:retrieve>
		<logger level="INFO" doc:name="Logger" doc:id="c79aa056-12b3-487a-8c11-4c53f7371f14" message="#[payload]"/>
	</flow>
	<flow name="remove" doc:id="993213d1-56d8-4e96-9264-30ae9f651edf" >
		<http:listener doc:name="Listener" doc:id="4811c53c-4847-4391-9565-68e570cd2365" config-ref="HTTP_Listener_config" path="rm"/>
		<os:remove doc:name="Remove" doc:id="13c0a923-9567-4f37-8aee-b21ff0151090" key="kiran" objectStore="Object_store"/>
	</flow>
	<flow name="contains" doc:id="f5133389-da08-41b8-ae5c-bb2efca16fc3" >
		<http:listener doc:name="Listener" doc:id="5ebe1d0c-c04b-4ee7-89bf-883ede5a22fe" config-ref="HTTP_Listener_config" path="contains"/>
		<os:contains doc:name="Contains" doc:id="4e40a0e7-5f77-4276-b052-8331b785752a" key="kiran" objectStore="Object_store"/>
		<ee:transform doc:name="Transform Message" doc:id="dcac5542-657d-4391-8515-12fa4910981b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
